.img_wizard_signature{
    padding-top: 40px;
}

.div_wizard_signature{
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting_signature_wizard{
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}